
body {
	background: #fff;
/*	font: 12px/17px "OpenSansRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font: 12px/17px "Sans Pro";
	color: #333 /* 656565 */;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 a {
    all: unset;
    cursor: pointer;
} 
:root {
    --body-bg: #fafcf5;
    --font-color: #222222;
    --prime-color: 	 #86b278;    ;
}




 .social{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.social a {
	opacity:0.5;
	margin: 0 10px 0 10px;
	float: left;
	transition: opacity 0.2s;
}
.social a:hover {
	opacity:1;
}
.social a img {
	float: left;
	height:auto;
} 

.header {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .wrap {
    max-width: 1200px;
    height: 100px;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

  #dropdown-menu>li {
      font-size: 10px;
    }
  

.navbar .close-nav {
    display: none;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}
.navbar ul li a:hover{
    background-color: rgba(255,255,255,0.8);
    color: #86b278;

}
.navbar li {
    padding: 0 0.6em;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.navbar a {
    font-size: 1.125rem;
    display: block;
    padding: 0.3em;
    font-weight: bold;
}
.footer{
    /*background: #424949; */
    background: #333; 
    padding: 1rem 1rem;
    color: white;
    
}
.slogan{
    font-size: 3.1rem;
    margin-top: 4%;
  /*  margin-left: 17%; */
    margin-left: 4%;
    margin-bottom: 4%;
    font-weight: 0;
    color: #333;
    display: block;
    
}
.color{
    color: #86b278;
}
.first{
    display: block;
    
    line-height: 133%;
}
.dropdown-menu[data-bs-popper]{
    border: 0;
}



#googlemaps { margin: 0 0rem; }


.main{
    display:flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    justify-content: flex-start;
}

.content>h3{
    font-size: 1.5rem;
}
.content>p{
    font-size: 0.8rem;
    color: #999999;
    font-weight: 300;
}

.futeraljka{
    border-top: 4px solid #86b278;

}

@media screen and (min-width: 1160px) {
	
	#googlemaps iframe {
		width:1000px;
		height:420px;
		
	}
}
 
 @media screen and (min-width: 480px) and (max-width: 1159px) {
	
	#googlemaps iframe {
		width:450px;
		height:300px;
		
	}
} 
@media screen and (max-width: 479px) {
	
	#googlemaps iframe {
		width:300px;
		height:200px;
        
		
	}
    .main{
        display: grid;
        
    }
    
    
}

  
 
 /* @media (min-width: 901px) {
    .iframe {
      width: 900px;
      height: 600px;
    }
  } */

@media (max-width: 850px) {
    .container {
        font-size: 1rem;
    }
    .icon-bar {
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid var(--prime-color);
        width: 50px;
        height: 50px;
        padding: 0 12px;
        border-radius: 3px;
    }
    .icon-bar:hover {
        background-color: #fffaf6;
    }
    .icon-bar span {
        border-top: 2px solid var(--font-color);
        width: 100%;
    }
    .icon-bar span::before,
    .icon-bar span::after {
        content: "";
        border-bottom: 2px solid var(--font-color);
        display: block;
        height: 8px;
    }
    .overflow-none {
        overflow: hidden;
    }
    .navbar {
        position: fixed;
        width: 100%;
        height: 100%;
        transition: 0.2s linear;
        transform: scale(0);
        top: 0;
        left: 0;
        background-color: #fafcf5;
        z-index: 9;
    }
    .navbar .close-nav {
        all: unset;
        font-size: 2.5rem;
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;
    }
    .navbar .close-nav:hover {
        color: #999999;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    .navbar li {
        padding: 0.7rem 0;
    }
    .navbar a {
        font-size: 2rem;
        text-transform: uppercase;
    }
    .navbar a:hover {
        text-decoration: underline;
    }
    .nav-scale {
        transform: scale(1) !important;
    }
}
@media (min-width: 600px) {
    .iframe {
      width: 1600px;
      height: 400px;
    }
  }
  
@font-face {
    font-family:"Sans Pro";
    src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
@media(max-width:424px)
{

    .header--logo{
        width: 80%;
    }

}